@media all and (min-width: 620px) {
    .nav {
        width: 600px !important;
        min-width: 600px !important;
        right: -600px !important;
    }

    .nav-toggle {
        right: 600px !important;
    }

    [id='nav-toggle']:checked ~ .content {
        -webkit-transform: translateX(-600px);
        -moz-transform: translateX(-600px);
        transform: translateX(-600px);
    }

    [id='nav-toggle']:checked ~ .nav > .nav-toggle {
        right: 20px !important;
    }

    .portfolio__item {
        text-align: right;
    }

    .portfolio__image {
        float: left;
    }

    .portfolio-wrapper {
        float: left;
        width: 395px;
        text-align: right;
    }
}


@media all and (max-width: 710px) {
    .content__slogan {
        display: none;
    }
}

@media all and (max-height: 750px) {
    .content__slogan {
        display: none;
    }
}


@media all and (max-width: 460px) {
    .skills-meter, .skill-circle {
        height: 100px;
    }
}

@media all and (max-height: 375px) {
    .skills-meter, .skill-circle {
        height: 100px;
    }

    .content__text {
        display: none;
    }

    .contacts__list {
        display: inline;
    }
}

@media all and (max-width: 450px) {
    .footer {
      margin-top: -18vh;
    }
}

@media all and (max-height: 810px) {
    .footer {
        margin-top: -20vh;
    }
}

@media all and (max-width: 375px) {
    body {
        font-size: 3vmin;
    }
}

@media all and (max-height: 375px) {
    body {
        font-size: 3vmin;
    }
}

@media all and (max-width: 345px) {
    .skills-list__item {
        margin: .2em 0.4em;
    }

    #contacts__list--up, #contacts__list--down {
        margin: 0;
    }

    a {
        font-size: 0.7em;
    }
}




